<!-- include "meta-head.html" -->
@@include('includes/partials/meta-head.html')

<body>
<!-- include "partial-header.html" -->
@@include('includes/partials/partial-header.html')

		<main>
			Hello world.
		</main>

		@@include('includes/partials/partial-footer.html')

		@@include('includes/partials/meta-foot.html')

		<script src="js/homepage.js"></script>
	</body>
</html>
