<pre>type: heading 1, class: h1</pre>
<h1 class="h1">Heading 1</h1>

<pre>type: heading 2, class: h2</pre>
<h2 class="h2">Heading 2</h2>

<pre>type: heading 3, class: h3</pre>
<h3 class="h3">Heading 3</h3>

<pre>type: heading 4, class: h4</pre>
<h4 class="h4">Heading 4</h4>

<pre>type: heading 5, class: h5</pre>
<h5 class="h5">Heading 5</h5>

<pre>type: heading 6, class: h6</pre>
<h6 class="h6">Heading 6</h6>

<pre>type: body copy, class: p</pre>
<p class="p">Font choices as flexible as your imagination</p>
