<pre>Primary Button</pre>

<span class="skin__background">
	<a class="button" href="#">Primary</a>
</span>

<span class="skin__background">
	<a class="button button--secondary" href="#">Secondary</a>
</span>

<span class="skin__background">
	<a class="button button--disabled" href="#">Disabled</a>
</span>

<span class="skin__background">
	<a class="button button--ghost" href="#">Ghost</a>
</span>

<span class="skin__background skin__background--dark">
	<a class="button button--ghost-white" href="#">White Ghost</a>
</span>
