<span class="skin__colour" style="background: #231F20;"></span>
<pre>Type: Black, Variable: $black, Value: #231F20</pre>

<span class="skin__colour" style="background: #FFFFFF;"></span>
<pre>Type: White, Variable: $white, Value: #FFFFFF</pre>
