<input class="input" type="text" value="" placeholder=""/>
<br>
<br>

<input class="input input--selected" type="text" value="" placeholder=""/>
<br>
<br>

<input class="input input--validated" type="text" value="" placeholder=""/>
<br>
<br>

<input class="input input--error" type="text" value="" placeholder=""/>
<br>
<br>

<input class="input input--locked" type="text" value="" placeholder="" disabled/>
<br>
<br>

<textarea class="textarea" type="text" value="" placeholder="" rows="5"></textarea>
<br>
<br>

<textarea class="textarea textarea--validated" type="text" value="" placeholder="" rows="5"></textarea>
<br>
<br>

<textarea class="textarea textarea--error" type="text" value="" placeholder="" rows="5"></textarea>
<br>
<br>

<input class="textarea textarea--error" type="radio" value="" />
<br>
<br>
